body {
  font-family: Roboto, Helvetica Neue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  padding: 20px 20px 60px;
  max-width: 680px;
  margin: 0 auto;
}